*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  padding-top: 60px;
}
nav {
  padding-left: 40px;
  padding-right: 40px;
}
a.nav-link{
  justify-self: center;
}

.nav-item{
  margin-left: 100px;
}

.card-img-top {
  /* max-height: 255px;
  min-height: 255px; */
  width: 100%;
  height: 20vw;
  object-fit: contain;
}
.modal-img {
  /* max-height: 255px;
  min-height: 255px; */
  width: 100%;
  height: 20vw;
  object-fit: contain;
}

.badge{
  margin-left: 7px;
}

#welcome-img{
  max-width: 15%;
  min-width: 15%;
  animation-name: move-up2;
  animation-duration: 1s;
  /* Adds transition */
  transition: 0.3s;
}

#mikasa-img{
  margin-top: -15px;
  max-width: 35%;
  animation-name: move-up;
  animation-duration: 1s;
  /* Adds transition */
  transition: 0.3s;
}
#day-btns-sm{
  display: none;
}
#cardArticle {
  animation-name: move-up;
  animation-duration: 1s;
  /* Adds transition */
  transition: 0.3s;
  justify-content: center;
}
#cardArticle2 {
  animation-name: move-up;
  animation-duration: 1s;
  /* Adds transition */
  transition: 0.3s;
}

#sasuke {
  object-fit: contain;
  max-width: 75%;
  float: right;
  animation-name: sasuke;
  animation-duration: 1.5s;
  /* Adds transition */
  transition: 0.2s;
}

#naruto {
  max-width: 75%;
  object-fit: contain;
  float: left;
  animation-name: naruto;
  animation-duration: 1.5s;
  /* Adds transition */
  transition: 0.2s;
}

#tanjiro{
  animation-name: move-up2;
  animation-duration: 2s;
  /* Adds transition */
  transition: 0.5s;
}
#deku{
  animation-name: move-up2;
  animation-duration: 4.5s;
  /* Adds transition */
  transition: 1s;
}
#asta{
  animation-name: move-up2;
  animation-duration: 6s;
  /* Adds transition */
  transition: 1.5s;
}
#weeklyH4{
  margin-top: -16px;
  position: relative;
  background-color:rgba(127,22,16,100);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
#inputGroupSelect01{
  max-width: 20%;
  min-width: 120px;
}

/* Footer Styles */
.footer-basic {
  width: 100%;
  margin-top: 60px ;
  padding:40px 0;
  background-color:rgba(127,22,16,100);
  color:#f1f1f1;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:20px;
  width:40px;
  height:40px;
  line-height:42px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #000;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  transform: rotate(-45deg);
  position: relative;
  padding: 7px 0;
  left: -30px;
  top: 10px;
  width: 130px;
  background-color: #e4ac14;
  background-image: gradient(linear, left top, left bottom, from(#ddc913), to(#ebe702)); 
  background-image: -webkit-linear-gradient(top, #ddc913, #ebe702); 
  background-image:    -moz-linear-gradient(top, #ddc913, #ebe702); 
  background-image:     -ms-linear-gradient(top, #ddc913, #ebe702); 
  background-image:      -o-linear-gradient(top, #ddc913, #ebe702); 
  color: #000;
  box-shadow:0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}


.ribbon-green:after {
  right: 0;
}​

.container #pagination{
  width: 100%;
  float:left;
  padding: 15px;
}

.show{
  display:flex;
}

.hide{
  display: none;
}

/* Keyframes and Media Queries */

@keyframes move-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move-up2 {
  from {
    opacity: 0;
    transform: translateY(95px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes sasuke {
  from {
      opacity: 0;
      transform: translateX(-500px);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes naruto {
  
  from {
      opacity: 0;
      transform: translateX(500px);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@media screen and (max-width:769px){
  #welcome-img{
    max-width: 25%;
    min-width: 25%;
  }
  
  #mikasa-img{
    margin-top: -15px;
    max-width: 45%;
  }

  #topHeads{
    display: none;
  }

  .card-img-top {
    max-height: 255px;
   min-height: 255px; 
   object-fit: contain;
 }

  #sasuke,#naruto{
    display: none;
  }
  #day-btns{
    display: none;
  }
  #option-btns{
    margin-top: 10px;
  }
  #day-btns-sm{
    display: flex;
  }
  
}

@media screen and (max-width:600px) {
  #welcome-img{
    max-width: 25%;
    min-width: 25%;
  }
  
  #mikasa-img{
    margin-top: -15px;
    max-width: 45%;
  }
  .card-img-top {
     max-height: 255px;
    min-height: 255px; 
    object-fit: contain;
  }

  .row>article{
    justify-self: center;
  }
  
}

